<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/AlphonseMehounme/BitdevsCotonou" target="_blank" rel="noopener nofollow">Source available on Github</a>
    </div>
    <div class="Footer-Visit">
      <a href="https://us.umami.is/share/Ygbmc5a8KgmC2Zcd/bitdevscotonou.xyz" target="_blank" rel="noopener nofollow">Visit Count</a>
    </div>
    <div class="Footer-rss">
      <a href="/feed.xml">RSS Feed</a>
    </div>
  </div>
</footer>
