<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-social">
        {% for item in site.data.settings.social %}
            <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
        {% endfor %}
    </div>
    <div class="Footer-rss">
      <a href="/feed.xml">RSS Feed</a>
    </div>
  </div>
</footer>
