.Header {
  margin-bottom: 0.75rem;

  &-border {
    opacity: 0.4;
    margin-top: 0.4rem;
    overflow: hidden;
    user-select: none;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    font-size: 2.2rem;

    @media (max-width: $small-screen) {
      font-size: 1.8rem;
    }
  }

  &-nav {
    display: flex;
    font-size: 1.3rem;

    @media (max-width: $small-screen) {
      font-size: 1.1rem;
    }

    a {
      color: #333;
      opacity: 0.4;
      margin-left: 1.5rem;

      &:hover {
        color: $primary-color;
        opacity: 1;
      }
    }
  }
}
