.Home {
  &-about {
    font-size: 1.2rem;
  }

  &-posts {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }

    &-subtitle {
      margin-top: 2rem;
    }

    &-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    &-post {
      font-size: 1.2rem;
      margin-bottom: 0.25rem;

      &-date {
        opacity: 0.8;
      }

      &-arrow {
        opacity: 0.5;
      }
    }
  }
}
