---
layout: default
---

<section>
  <div class="Post">
    <div class="title-container">
      <div class="left">
        <h1 class="Post-title">{{ page.title }}</h1>
        <div class="Post-info">
          <span>{{ page.date | date_to_string }}</span>
        </div>
      </div>

      <div class="right">
        <div class="meetup-signup-link">
            <a href="{{ page.meetup }}" target="_blank" rel="noopener nofollow">
              Sign up at meetup.com
            </a>
        </div>
        {% if page.playlist %}
        <div class="Post-playlist">
          <a href="{{ page.playlist }}" target="_blank" rel="noopener nofollow">
            Pre-meeting jams 🎵
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="Post-content">
      {{ content }}
    </div>

  </div>
</section>
